div{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}

@media only screen and (min-width: 600px) {
   
    body{
        background-color: darkblue;
    }
    div{
        width: 500px;
    }
}
@media only screen and (min-width: 768px) {
   
    body{
        background-color: bisque;
    }
   div{
    width: 700px;
   }
}